.site-header{
    width: 100%;
    height: auto;
    border-bottom: 1px solid $white-two;
    @media screen and (max-width: $deviceMobile){
        border-bottom-color: transparent;
        &-inner{
            padding: 0;
            margin: 0;
        }
    }
    > .sortable{
        font-size: 0;
    }
    .left-colm{
        display: inline-block;
        vertical-align: top;
        width: 18%;
        margin-right: 2%;
        @media screen and (max-width: $deviceMobile){
            width: 100%;
            margin-right: 0;
            text-align: center;
            & > div[id^="lblBanner"]{
                display: inline-block;
                vertical-align: top;
                width: 100%;
                position: relative;
            }
            .mobile-cart-btn,
            .mobile-menu-btn{
                display: block;
                width: 60px;
                height: 60px;
                position: relative;
                margin: 10px;
                text-align: center;
                padding: 17px;
            }
            .mobile-cart-btn{
                float: right;
                .icon-bag{
                    font-size: 25px;
                }
                em{
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    text-align: center;
                    line-height: 18px;
                    display: block;
                    top: 9px;
                    right: 12px;
                    background: $pink;
                    color: $white;
                    border-radius: 50%;
                    font-size: 12px;
                    letter-spacing: 0.2px;
                }
            }
            .mobile-menu-btn{
                float: left ;
                > span{
                    position: relative;
                    display: block;
                    width: 27px;
                    height: 15px;
                    margin: 6px 0px;
                    &:before,
                    &:after{
                        content:'';
                        width: 27px;
                        height: 2.5px;
                        background: $black;
                        display: block;
                        position: absolute;
                        left: 0;
                        @include transition(all 0.2s ease-in-out);
                    }
                    &:after{
                        top: 0;
                    }
                    &:before{
                        top: 13px;
                    }
                }
            }
            .logo{
                display: block;
                margin: 0 auto;
                max-width: 100px;
                position: absolute;
                left: 50%;
                top:0;
                margin-left: -50px;
            }
            @at-root .mobile-menu-ready{
                overflow: hidden;
                .mobile-menu-btn > span:before {
                    transform: rotate(-45deg);
                    top: 7px !important;
                }
                .mobile-menu-btn >span:after {
                    transform: rotate(45deg);
                    top: 7px !important; 
                }
            }
        }
    }
    .right-colm{
        display: inline-block;
        vertical-align: top;
        width: 78%;
        margin-left: 2%;
        .top-row{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 100px;
            .top-left-colm{
                display: inline-block;
                vertical-align: top;
                width: 48%;
            }
            .top-right-colm{
                max-width: 52%;
                float: right;
                padding-top: 20px;
                
                > div{
                    display: inline-block;
                    vertical-align: top;
                    .where-is-my-cargo{
                        display: block;
                        font-family: $fontDefault;
                        font-size: 14px;
                        height: 15px;
                        color: $black;
                        line-height: 15px;
                        font-weight: 600;
                    }
                    &.mod-lang{
                        display: none;
                    }
                }
            }
        }
        .bottom-row{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 42px;
            .bottom-left-colm{
                width: calc(100% - 217px);
                float: left;
                text-align: right;
                @media screen and (max-width:1010px){
                    width: calc(100% - 150px);
                }
            }
            .bottom-right-colm{
                width: 217px;
                float: right;
                [id*='lblBanner']{
                    display: inline-block;
                    vertical-align: top;
                }
                @media screen and (max-width:1010px){
                    width: 150px;
                }
            }
        }
        @media screen and (max-width: $deviceMobile){
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            background: $white;
            z-index: 999;
            height: 100%;
            width: 100%;
            margin: 0;
            padding-top: 70px;
            overflow: auto;
            @include transition(all 500ms cubic-bezier(0.250, 0.250, 0.100, 0.705));
            @include setTransform(translateX(-100%));
            .mobile-menu-btn-close{
                position: absolute;
                left: 0;
                top: 0;
                width: 50px;
                padding: 13px;
                text-align: center;
                display: block;
                font-size: 22px;
                margin: 10px;
                line-height: 1;
            }
            .user-logoff-btn,
            .user-login-btn{
                position: absolute;
                right: 10px;
                top: 20px;
                padding: 5px;
                font-size: 15px;
                font-weight: 700;
            }
            @at-root{
                .ems-login .user-logoff-btn{
                    display: none;
                }
                .ems-logoff .user-login-btn{
                    display: none;
                }
            }
            .top-row{
                height: auto;
                .top-left-colm{
                    width: 100%;
                }
                .top-right-colm{
                    display: none;
                }
            }
            @at-root{
                .mobile-menu-ready &{
                    display: block;
                }
                .mobile-menu-animate &{
                    @include setTransform(translateX(0));
                }
            }
            .bottom-row{
                height: calc(100% - 60px);
                .bottom-left-colm{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                }
                .bottom-right-colm{
                    display: none;
                }
            }
        }
    }
}
@media screen and (min-width: $deviceMobile){
    .nav-main-wrp{
        position: relative;
        .lvl1{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            > li{
                float: left;
                &.campany-menu{
                    position: relative;
                    > .nav-main-sub-nav{
                        min-width: 280px;
                        left:-40px;
                    }
                }
                &:first-child{
                    > a{
                        padding-left: 0;
                    }
                }
                > a {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 16px;
                    font-family: $fontDefault;
                    font-weight: 600;
                    letter-spacing: 0.3px;
                    line-height: 15px;
                    padding: 0 12px;
                    span{
                        position: relative;
                        padding: 5px 3px 23px 3px;
                        display: block;
                        &:after{
                            content:'';
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 0;
                            opacity: 0;
                            background: $pink;
                            bottom: 0;
                            left: 0;
                            @include transition(all 0.12s ease-in-out);
                        }
                    }
                    @media screen and (max-width: 1050px){
                        padding: 0 9px;
                    }
                }
                &.selected{
                    > .nav-main-sub-nav{
                        display: block;
                    }
                    &:after{
                        display: block;
                    }
                }
                &:hover{
                    > a{
                        span{
                            &:after{
                                height: 6px;
                                opacity: 1;
                            }
                        }
                    }
                }
                > .nav-main-sub-nav{
                    display: none;
                    left: -60px;
                    position: absolute;
                    padding: 50px;
                    opacity: 0.95;
                    background-color: $white;
                    z-index: 100;
                    margin-right: -140px;
                }
            }
            
        }
        .lvl2{
            display: table;
            vertical-align: top;
            table-layout: fixed;
            width: 100%;
            > li{
                &.sub-menu{
                    display: table-cell;
                    padding-right: 20px;
                }
                > a{
                    font-family: $fontDefault;
                    font-weight: 700;
                    font-size: 16px;
                    letter-spacing: 0.2px;
                    color: $black;
                    margin-bottom: 20px;
                    display: inline-block;
                    vertical-align: top;
                    white-space: nowrap;
                }
                &:hover{
                    > a{
                        color: $pink;
                    }
                }
                .lvl3-wrap{
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                }
            }
        }
        .lvl3{
            display: table-cell;
            > li{
                margin-bottom: 5px;
                > a{
                    display: inline-block;
                    padding: 3px;
                    color: $darkGrey;
                    font-family: $fontDefault;
                    font-weight: 600;
                    font-size: 15px;
                    letter-spacing: 0.2px;
                    &:hover{
                        color: $black;
                    }
                }
                &.f-s-13{
                    > a{
                        font-size: 13px !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $deviceMobile){
    .nav-main-wrp{
        .nav-main{
            .nav-main-body{
                padding: 5px 32px;
                .lvl1{
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    > li{
                        width: 100%;
                        border-bottom: 1px solid $white-two;
                        &:last-child{
                            border-bottom: 0;
                        }
                        > a {
                            display: block;
                            font-size: 15px;
                            font-family: $fontDefault;
                            font-weight: 600;
                            letter-spacing: 0.2px;
                            line-height: 15px;
                            padding: 20px 16px;
                        }
                        &.sub-menu{
                            > a{
                                position: relative;
                                &:before,
                                &:after{
                                    content:'';
                                    position: absolute;
                                    width:10px;
                                    height: 2px;
                                    background: $black;
                                    display: block;
                                    right: 18px;
                                    top: 27px;
                                }
                                &:after{
                                    @include transition(all 0.3s ease-in-out);
                                    @include setTransform(rotate(-90deg));
                                }
                            }
                        }
                        &.selected{
                            &.sub-menu{
                                > a{
                                    &:after{
                                        @include setTransform(rotate(0deg));
                                    }
                                }
                            }
                            > .nav-main-sub-nav{
                                max-height: 1500px;
                            }
                        }
                        > .nav-main-sub-nav{
                            max-height: 0;
                            overflow: hidden;
                            @include transition(all 500ms cubic-bezier(0.250, 0.250, 0.100, 0.705));
                        }
                    }
                    
                }
                .lvl2{  
                    width: 100%;
                    padding-left: 30px;
                    > li{
                        width: 100%;
                        border-bottom: 1px solid $white-two;
                        &:last-child{
                            border-bottom: 0;
                        }
                        > a{
                            font-family: $fontDefault;
                            font-weight: 600;
                            font-size: 15px;
                            padding: 20px 10px;
                            letter-spacing: 0.2px;
                            color: $black;
                            display: block;
                        }
                    }
                }
                .lvl3{
                    width: 100%;
                    padding-left: 20px;
                    > li{
                        width: 100%;
                        > a{
                            display: block;
                            padding: 20px 10px;
                            color: $lightGrey;
                            font-family: $fontDefault;
                            font-weight: 600;
                            font-size: 15px;
                            letter-spacing: 0.2px;
                            &:hover{
                                color: $black;
                            }
                        }
                    }
                }
            }
        }         
        &.mobile-footer-menu{
            .nav-main{
                padding: 10px;
                &-body{
                    background: #e9e9e9;
                }
            }
        }   
    }
}